/* Seccion Consulta*/

#formConsulta {
    .titleForm {
        margin: 1.5rem 9rem;
        &__text {
            border-bottom: ridge $primary 2px;
            width: 30%;
            font-weight: bold;
            font-size: $l;
        }
    }
    
    .mb-3 {
        margin: 0 9rem;
    }
}

