/* Sección Marcas*/

#seccionMarcas {
    margin: 0 9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "title2 title2 title2"
    "m1 m2 m3"
    "m4 m5 m6"
    "m7 m8 m9"
    "m10 m11 none";

    .titleMarcas {
        grid-area: title2;
        justify-self: flex-start;
        width: 100%;

        &__text {
            border-bottom: ridge $primary 2px;
            width: 15%
        }
    }
}
