/* Responsive */

@media screen and (max-width: 1180px) {
    
    #box1 { 
        display: grid;
        height: fit-content;
        padding: 0.5em 0;
        grid-template-areas: 
        "logo logo"
        "buscador redes";
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;
    }

    #box1 .logo {
        grid-area: logo;
        align-self: center;
        justify-self: center;
    }

    #box1 .logo__a {
        margin: 0;
    }
    
    .buscador {
        grid-area: buscador;
        align-self: center;
        justify-self: flex-end;
        margin-right: $s;
    }

    .redes {
        grid-area: redes;
        align-self: center;
        justify-self: flex-start;
        margin-left: $s;
        width: 0;
    }

    #footer {
        display: flex;
        flex-direction: column;
    } 

    .logoBottom {
        padding: $s;
    }

    .mediosPago {
        padding: $s;
    }

    /*Pagina Consults*/
    #formConsulta {
        .titleForm {
            margin: 1.5rem 0rem;
        }
        .mb-3 {
            margin: 0rem;
        }
    }   

    /*Sección Productos*/
    #mainProducts {
        .seccionProductos {
            .boxProducts {
                ul {
                    font-size: $s;
    
                    li {
                        color: #FFFFFF;
                        font-style: italic;
                        width: fit-content;
                        margin: 0.1rem;
                    }
                }
            }
        }
    }
    .productos {
        max-width: 150px;
        max-height: 140px;
    }

}
    
@media screen and (max-width: 1000px) {
    #box1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    #box1 .buscador {
        margin: $s/2;
    }

    #box1 .redes {
        justify-content: center;
        margin: 0;
    }

    #box2 {
        height: 5vh;
    }

    #box2 .conteinerMenu {
        height: 4vh;
        margin: 0;
    }
    #box2 .conteinerMenu .conteinerMenu__cat li a {
        height: 5vh;
    }

    .barraNav {
        margin: 0;
        width: 100%;
    }
    .barraNav ul {
        height: 5vh;
    }

    #mainInicio {
        .imagenLocal {
            margin: 0;
        }
    }

    .informacion {
        margin: 0 1em;
    }

    .producDest {
        height: auto;
        margin: 0 1rem;
    }

    .producDest__box__picture__destac {
        height: auto;
    }

    .producDest a img {
        max-width: 150px;
        max-height: 140px;
    }

    .marcasInicio {
        margin: 1em 1em;
    }

    .marcasInicio div picture a img {
        max-width: $s*6;
    }

    .titleForm {
        margin: 0;
    }
    
    .mb-3 {
        margin: 0;
    }
    /*Pagina Marcas*/
    #seccionMarcas {
        margin: 0 1em;
    }
    .marcas {
        max-width: 200px;
        max-height: 200px;
    }

    /*Pagina Nosotros*/
    .nosotros {
        margin: 1.5em 1em;
    }

    /* Seccion Productos*/
    #mainProducts {
        .seccionProductos {
            margin: 0 1em;
        }

        .containerMedidas {
            margin: 2em 1em;
        }
    }
    /*Pagina Consults*/
    #formConsulta {
        .titleForm {
            margin: 1.5rem 0rem;
        }
        .mb-3 {
            margin: 0rem;
        }
    }   
}

@media screen and (max-width: 768px) {

    #box2 {
        height: 10vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    #box2 .conteinerMenu {
        margin: 0;
        height: 4vh;
    }

    .barraNav {
        margin: 0;
    }

    .imagenLocal a h2 {
        font-size: $l;
        display: block;
    }

    .producDest {
        height: 27vh;
    }
    .producDest__box {
        height: auto;
        margin-top: $s;
    }

    .producDest__box picture {
        height: 110px;
    }

    .producDest__box picture p {
        font-size: $xs;
    }

    .producDest__box__picture__destac {
        height: auto;
    }

    .producDest__box a img {
        max-width: 130px;
        max-height: 110px;
    }

    .marcasInicio {
        margin-bottom: 0;
   }

    .marcasInicio div {
        margin-top: 1rem ;
    }

    .marcasInicio div picture a img {
        max-width: $s*6;
    }

    .logoBottom {
        font-size: .8rem;
    }

    .mediosPago picture img {
        padding: 0.3rem;
        max-width: 60px;
    }
    /*Pagina Marcas*/
    #seccionMarcas {
        margin: 0 1em;
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px repeat(6, 1fr);
        align-items: center;
        justify-items: center;
        grid-template-areas: 
        "title2 title2 "
        "m1 m2"
        "m3 m4"
        "m5 m6"
        "m7 m8"
        "m9 m10"
        "m11 none";
    }
    /*Pagina Productos*/
    #mainProducts {
        .seccionProductos {
            .boxProducts {
                p {
                    font-size: $s;
                }
                ul {
                    font-size: $xs;
    
                    li {
                        color: #FFFFFF;
                        font-style: italic;
                        width: fit-content;
                        margin: 0.1rem;
                    }
                }
            }
        }
    }
    .productos {
        max-width: 110px;
        max-height: 100px;
    }

}

@media screen and (max-width: 560px) {
    /*Header*/

    .barraNav__list__item__enlace {
        font-size: $xxs;
    }
    /*Pagina Productos*/
    #mainProducts {
        .seccionProductos {
            display: grid;
            grid-template-columns: 100px 1fr;
            grid-template-rows: 80px repeat(4, 1fr);
            grid-gap: 10px;
            grid-template-areas: 
            "title title" 
            "aside prod1"
            "aside prod2" 
            "aside prod3" 
            "aside prod4" ;

        }
    }
}

@media screen and (max-width: 480px) { 
    #box1 {
        .logo {
            &__a {
                img {
                    max-width: 10em;
                }
            }
            
        }
    }
        

    .buscador input {
        height: 25px;
    }

    .buscador picture img {
        max-width: 25px;
        max-height: 25px;
    }

    .redes ul li a img {
        max-width: 25px;
        max-height: 25px;
    }

    .imagenLocal {
        height: 30vh;
        margin: 0 3rem;
    }
    .imagenLocal a h2 {
        font-size: 1.5rem;
    }

    .informacion {
        margin: auto;
    }

    .informacion>ul {
        display: grid;
        grid-template-areas: 
        "local textolocal none"
        "point visitanos none"
        "tel contacto none";
        grid-template-columns: 1fr 1fr 2rem;
        grid-template-rows: repeat(3,5rem);
    }

    #picLocal {
        grid-area: local;
        justify-self: flex-end;
    }

    #atencion {
        grid-area: textolocal;
    }

    #picUbi {
        grid-area: point;
        justify-self: flex-end;
    }

    #visitar {
        grid-area: visitanos ;
    }

    #picTel {
        grid-area: tel;
        justify-self: flex-end;
    }

    #contact {
        grid-area: contacto ;
    }

    .textos ul {
        display: flex;
        flex-direction: column;
    }

    .producDest {
        height: fit-content;
    }
    .producDest__box {
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }

    .marcasInicio {
        height: fit-content;
    }

    .marcasInicio div {
        flex-direction: column;
    }

    /*Footer*/
    #footer {
        .logoBottom {
            font-size: $s;
        }
    }
    /*Pagina Marcas*/
    .marcas {
        max-width: 150px;
        max-height: 150px;
    }

    /*Pagina Nosotros*/
    .nosotros {
        div {
            p {
                font-size: $s;
            }
        }
    }

}