





/* Responsive */

@media screen and (max-width: 1180px) {
    
    #primeraCaja { 
        display: grid;
        height: 15vh;
        grid-template-areas: 
        "logo logo"
        "buscador redes";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2.5rem 2.5rem;
    }

    #logo {
        grid-area: logo;
        align-self: center;
        justify-self: center;
    }

    #logo a {
        margin: 0;
    }
    
    #buscador {
        grid-area: buscador;
        align-self: center;
        justify-self: flex-end;
        margin-right: 1rem;
    }

    #redes {
        grid-area: redes;
        align-self: center;
        justify-self: flex-start;
        margin-left: 1rem;
    }

    footer {
        display: flex;
        flex-direction: column;
    } 

    #logoBottom {
        padding: 1rem;
    }

    #mediosPago {
        padding: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    #primeraCaja {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 25vh;
    }

    #buscador {
        margin: 0.5rem;
    }

    #redes {
        justify-content: center;
        margin: 0;
    }

    #segundaCaja {
        height: 4vh;
    }

    .cat li a {
        height: 4vh;
    }

    #barraNavegación ul {
        height: 4vh;
    }

    #barraNavegación ul li a {
        font-size: 10px;
    }

    .textos {
        font-size: 13px;
    }

    .textos ul li {
        font-size: 12px;
    }

    #destacados {
        height: auto;
    }

    #destacados picture p {
        font-size: 11px;
    }

    .destac {
        height: auto;
    }

    #destacados a img {
        max-width: 150px;
        max-height: 140px;
    }

    #marcas div picture a img {
        max-width: 6rem;
    }

    #titleForm {
        margin: 0;
    }
    
    .mb-3 {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {

    #segundaCaja {
        height: 9vh;
        flex-direction: column;
        align-items: center;
    }
    
    #segundaCaja nav div {
        margin: 0;
        height: 4vh;
    }

    #barraNavegación {
        margin: 0;
    }

    #imagenLocal a h2 {
        font-size: 1.5rem;
        display: block;
    }

    #producDest {
        height: 32vh;
    }

    #producDest h2 {
        font-size: 18px;
        width: 50%;
    }

    #destacados {
        height: auto;
        margin-top: 1rem;
    }

    #destacados picture {
        height: 110px;
    }

    #destacados picture p {
        font-size: 9px;
    }

    .destac {
        height: auto;
    }

    #destacados a img {
        max-width: 100px;
        max-height: 90px;
    }

    #marcas {
        margin-bottom: 0;
    }

    #marcas h2 {
        font-size: 18px;
        width: 50%;
    }

    #marcas div {
        margin-top: 1rem ;
    }

    #marcas div picture a img {
        max-width: 4rem;
    }

    #logoBottom {
        font-size: .8rem;
    }

    #mediosPago picture img {
        padding: 0.3rem;
        max-width: 60px;
    }
}

@media screen and (max-width: 480px) {
    #logo a {
        font-size: 20px;
    }

    #buscador input {
        height: 25px;
    }

    #buscador picture img {
        max-width: 25px;
        max-height: 25px;
    }

    #redes ul li a img {
        max-width: 25px;
        max-height: 25px;
    }

    #imagenLocal {
        height: 30vh;
        margin: 0 3rem;
    }
    #imagenLocal a h2 {
        font-size: 1.5rem;
    }

    #informacion {
        margin: auto;
    }

    #informacion>ul {
        display: grid;
        grid-template-areas: 
        "local textolocal none"
        "point visitanos none"
        "tel contacto none";
        grid-template-columns: 1fr 1fr 2rem;
        grid-template-rows: repeat(3,5rem);
    }

    #picLocal {
        grid-area: local;
        justify-self: flex-end;
    }

    #atencion {
        grid-area: textolocal;
    }

    #picUbi {
        grid-area: point;
        justify-self: flex-end;
    }

    #visitar {
        grid-area: visitanos ;
    }

    #picTel {
        grid-area: tel;
        justify-self: flex-end;
    }

    #contact {
        grid-area: contacto ;
    }

    .textos ul {
        display: flex;
        flex-direction: column;
    }

    #producDest {
        height: fit-content;
    }
    #destacados {
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }

    #marcas {
        height: fit-content;
    }

    #marcas div {
        flex-direction: column;
    }
}